extends ../common/layout

block append head
	link(rel='stylesheet' href='/css/topic/topic.css')
	script(src='/js/topic/topic.js')
	title #{topic.title} | Qwillo
	

block content
	.small-header
		include ../common/header
	.topic-content(topic-id='#{topic._id}')
		.row(ng-show='labelCreated')
			.columns.small-4.small-centered
				.alert-box.success.radius We've recevied your label request!
					a.close &times;
		.row
			.columns.medium-4
				.topic-info.module-box
					.row
						.columns.small-12
							.topic-info-header
								span.topic-image-wrapper
									if topic.imageUrl || topic.imageUrl != ""
										img(src='#{topic.imageUrl}').topic-image
									else
										img(src='/images/placeholder.jpg').topic-image
								.topic-title
									h4 #{topic.title}
					.row
						.columns.small-12
							.topic-description
								p #{topic.description}


			.columns.medium-8
				.topic-data(ng-controller='TopicController')
					.data-buttons
						.row
							.small-10.columns
								ul.post-filters
									li
										button.module-box(ng-click='loadPosts(0)' ng-class="{active: orderId == 0}")
											i.fa.fa-child 
											|  Top
									li
										button.module-box(ng-click='loadPosts(1);' ng-class='{active: orderId == 1}')
											i.fa.fa-fire
											|  Hot
									li
										button.module-box(ng-click='loadPosts(2);' ng-class='{active: orderId == 2}')
											i.fa.fa-plus
											|  New
							.small-2.columns
								button.module-box.submit-post-button.right(data-reveal-id='submit-post-modal')
									i.fa.fa-pencil

					.row.row-margin
						.small-6.columns
							select.label-select
								option(label-id='#00000000') -- None --
								each label in topic.labels
									if label.isApproved
										option(label-id='#{label.id}') #{label.name}
						.small-2.columns
							button.module-box.label-button(data-reveal-id='label-modal') New Label

					#label-modal.reveal-modal(data-reveal).small
						include ../label/request


					.row.row-margin(ng-repeat='post in postData[orderId]')
						.small-12.columns
							.row.module-box.post-box
								.small-1.columns
									if base.user
										.arrow-box
											.up(ng-click="upvote(post);" ng-class="{upActive: post.isVote == 1}") &#9650;
											.vote-count
												| {{post.upvote - post.downvote}}
											.down(ng-click="downvote(post)" ng-class="{downActive: post.isVote == -1}") &#9660;
									else
										.arrow-box
											.up(data-reveal-id='login-modal') &#9650;
											.vote-count
												| {{post.upvote - post.downvote}}
											.down(data-reveal-id='login-modal') &#9660;
								.small-11.columns
									.info-box
										a(href='{{post.link}}') 
											h4 {{post.title}}
										p  {{post.description}}


					.row(ng-show='postsErrorReceived')
						.small-12.columns
							.alert-box.info.radius Oops! We couldn't load anymore posts


	#submit-post-modal.reveal-modal(data-reveal)
		include ../post/submit

							
