//Nav bar template.
//Requires username



nav.navbar.navbar-default.nav(role='navigation')
	.container
		//Brand and toggle get grouped for better mobile display 
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') App
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.nav-link
					a#categories(href='#') Categories
				li.nav-link
					a(href='#') Submit
				li.nav-link.login-link
					a(href='#') #{base.username}
	if (username == 'Login')
		.login
			.login-form-wrapper
				form.login-form(action="submit" autocomplete='on' method='post')
					input.login-box(placeholder="Username")
					input.login-box(placeholder="Password")
					button.login-button(type="submit" name="login") Login
					button.signup-button(type='button' name="signup") Sign Up
	else 
		.login
			.flyout-info-header
				img
				p #{base.username}
			ul.flyout-info-content
				li.flyout-info-item
					a(href='/account/#{base.username}') Profile
				li.flyout-info-item
					a(href='/account/settings') Account Settings

.categories.container
	.categories-wrapper
		- var array = base.categories.sort();
		- for (var i = 0; i < 6; i++)
			div.categories-list-wrapper
				ul.category-list
					- var currentKeys = array.slice(i*3, i*3 + 3);
					each val in currentKeys
						li.category-item
							a(href='/category/#{val}') #{val}

script(type='text/javascript' src='/js/common/nav/login_module.js')
script(type='text/javascript' src='/js/common/nav/categories_module.js')