//Nav bar template.
//Requires username

link(rel='stylesheet', href='/css/common/nav.css')

nav.navbar.navbar-default.nav(role='navigation')
	.container
		//Brand and toggle get grouped for better mobile display 
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Qwillo
			link(rel='stylesheet' href='/css/searchbar/search_bar.css')
		
		script(type='text/javascript' src='/js/common/search/search_bar.js')
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				if !base.username 
					li.nav-link.login-link
						a(href='#') Login
				else
					li.nav-link.dropdown.username-link
						a.dropdown-toggle(href='#', data-toggle='dropdown')
								| #{base.username}
						ul.dropdown-menu(role='menu')
							li
								a(href='/user/#{base.username}') Profile
							li
								a(href='/user/#{base.username}/settings') Account
							li.logout-button
								a(href='#') Logout
			form(class="navbar-form")
				div(class="form-group" style="display:inline;")
					div(class="input-group")
						input(type="text" class="form-control")
						span(class="input-group-addon search-button")
							span(class="glyphicon glyphicon-search")



.categories.container
	.categories-wrapper
		- var array = base.categories.sort();
		- for (var i = 0; i < 6; i++)
			div.categories-list-wrapper
				ul.category-list
					- var currentKeys = array.slice(i*3, i*3 + 3);
					each val in currentKeys
						li.category-item
							a(href='/category/#{val}') #{val}

.signup-box
	.blackout-background
	include ../account/login_form


script $('.signup-box').hide();
script(type='text/javascript' src='/js/common/nav/login_module.js')
