extends ../common/layout

block content
	link(rel='stylesheet', href='/css/topic/topic.css')
	link(rel='stylesheet', href='/css/post/voting.css')
	script(type='text/javscript', src='/js/posts/voting.js')
	script(type='text/javascript').
		var model = {title: "#{title}", imageUrl: "#{imageUrl}"};
	script(type='text/javascript', src='/js/topic/topic.js')

	.container
		.row
			.col-xs-4.description-box
				.row
					.col-xs-12.description-header
						button.image-edit-button(type="button" class="btn btn-default" aria-label="Left Align")
							span.glyphicon.glyphicon-pencil(aria-hidden="true")
						.topic-image
							if imageUrl
								img(src='#{imageUrl}')
							else
								img(src='/images/placeholder.jpg')
				.row.image-edit-box.other
					.col-xs-12
						label Enter URL for new Image:

						.input-group
							input.form-control.image-edit-input(name='image' type='text' placeholder='URL')
							span.input-group-btn
								button.btn.btn-default.image-edit-submit(type='button') Go!
				.row.other
					.col-xs-12
						h1.topic-title #{title}

				.row.action-box.other
					.col-xs-4
						a(href='/post/submit?topic=#{title}')
							button(type="button", class="btn btn-primary")
								span(class="glyphicon glyphicon-plus")
								|  Submit
					.col-xs-4
						button(type="button", class="btn btn-success").center-block
							span(class="glyphicon glyphicon-user")
							|  Invite
					.col-xs-4
						button(type="button", class="btn btn-info").pull-right
							span(class='glyphicon glyphicon-certificate')
							|  Share


				.row.other
					.col-xs-12.topic-info
						p.topic-description
							| #{description}
			.col-xs-8.content-pane
				//Nav tabs 
				ul.nav.nav-tabs(role='tablist')
					li.active
						a(href='#hot', role='tab', data-toggle='tab') Hot
					li
						a(href='#top', role='tab', data-toggle='tab') Top
					li
						a(href='#new', role='tab', data-toggle='tab') New
				//
					 Tab panes 
				.tab-content
					#hot.tab-pane.fade.in.active 
						each post in hotPosts
							.post-box
								h2 
									a(href='#{post.link}')
										| #{post.title}
								p #{post.description}
								.post-action-box

									button.btn.btn-default.btn-xs.up.useful(type='button' pid='#{post._id}')
										span.glyphicon.glyphicon-thumbs-up
										|  Helpful!
									button.btn.btn-default.btn-xs.down.useless(type='button' pid='#{post._id}')
										span.glyphicon.glyphicon-thumbs-down
										|  Meh!
									script
										| votingButtons($('button.up'), $('button.down'), '#{post.id}');


					#top.tab-pane.fade 
						each post in topPosts
							.post-box
								h2 
									a(href='#{post.link}')
										| #{post.title}
								p #{post.description}
					#new.tab-pane.fade 
						each post in newPosts
							.post-box
								h2 
									a(href='#{post.link}')
										| #{post.title}
								p #{post.description}

