extends ../common/layout

block content
	link(rel='stylesheet', href='/css/topic/topic.css')
	link(rel='stylesheet', href='/css/post/voting.css')
	script(type='text/javscript', src='/js/posts/voting.js')
	.container
		.row
			.col-xs-4.description-box
				.row
					.col-xs-12
						h1.topic-title #{title}
						.topic-image
							if imageUrl
								img(src='#{imageUrl}')
							else
								img(src='/images/placeholder.jpg')

				.row.action-box
					.col-xs-4
						button(type="button", class="btn btn-primary")
							span(class="glyphicon glyphicon-plus")
							|  Submit
					.col-xs-4
						button(type="button", class="btn btn-success").center-block
							span(class="glyphicon glyphicon-user")
							|  Invite
					.col-xs-4
						button(type="button", class="btn btn-info").pull-right
							span(class='glyphicon glyphicon-certificate')
							|  Share


				.row
					.col-xs-12.topic-info
						p.topic-description
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed 
			.col-xs-8.content-pane
				//Nav tabs 
				ul.nav.nav-tabs(role='tablist')
					li.active
						a(href='#hot', role='tab', data-toggle='tab') Hot
					li
						a(href='#top', role='tab', data-toggle='tab') Top
					li
						a(href='#new', role='tab', data-toggle='tab') New
				//
					 Tab panes 
				.tab-content
					#hot.tab-pane.fade.in.active 
						each post in hotPosts
							.post-box
								h2 
									a(href='#{post.link}')
										| #{post.title}
								p #{post.description}
								.post-action-box
									button.btn.btn-default.btn-xs.up.useful(type='button')
										span.glyphicon.glyphicon-thumbs-up
										|  Helpful!
									button.btn.btn-default.btn-xs.down.useless(type='button')
										span.glyphicon.glyphicon-thumbs-down
										|  Useless!
									script
										| votingButtons($('button.up'), $('button.down'), '#{post.id}');


					#top.tab-pane.fade 
						each post in topPosts
							.post-box
								h2 
									a(href='#{post.link}')
										| #{post.title}
								p #{post.description}
					#new.tab-pane.fade 
						each post in newPosts
							.post-box
								h2 
									a(href='#{post.link}')
										| #{post.title}
								p #{post.description}

